*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
      font-family: "DM Sans", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Miniver&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.section-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;
}
img{
    width: 100px;
}
.slider{
    width: 400px;
    border: 4px solid black;
}
.mainslider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider span{
    color: rgb(29, 163, 225);
}
